<a href="https://colab.research.google.com/github/Miftahul93/Pengembangan_Machine_Learning_Dicoding/blob/main/Lat_1_Pengembangan_ML_klasifikasi_2_kelas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nah, pada submodul ini kita akan coba melatih model untuk mengklasifikasikan apakah sebuah buah merupakan jeruk atau anggur. Untuk datasetnya bisa Anda unduh di [tautan](https://www.kaggle.com/joshmcadams/oranges-vs-grapefruit) berikut.

In [1]:
# Memasang drive ke notebook google colab
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
# Melihat daftar dataset di folder dataset ML-Dicoding
!ls "gdrive/MyDrive/Dataset ML-Dicoding/Pengembangan ML"

Citrus.zip

In [3]:
# Unzip
import os
import zipfile

local_zip = 'gdrive/MyDrive/Dataset ML-Dicoding/Pengembangan ML/Citrus.zip'
zip_ref = zipfile.ZipFile(local_zip, 'r')
zip_ref.extractall('/content/')
zip_ref.close()

Pada cell pertama di Colab apa lagi kalau bukan impor library yang harus kita lakukan. Karena dataset kita bertipe csv, kita akan menggunakan pandas untuk merubah dataset menjadi sebuah dataframe. Untuk melakukannya, gunakan fungsi read_csv().

In [4]:
import pandas as pd
df = pd.read_csv('citrus.csv')

Kemudian untuk melihat overview dari dataset kita bisa memanggil fungsi **info()** pada dataframe. Dapat kita lihat di bawah bahwa pada dataset terdapat 6 buah kolom dengan 1 kolom memiliki value bertipe ‘object’, dan 5 bertipe numerik.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10000 non-null  object
 1   diameter  10000 non-null  float64
 2   weight    10000 non-null  float64
 3   red       10000 non-null  int64
 4   green     10000 non-null  int64
 5   blue      10000 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 468.9+ KB

Selanjutnya gunakan fungsi **head()** untuk menampilkan dataframe kita. Pada output dari cell di bawah, label dari dataset adalah kolom pertama yang berisi string ‘orange’ dan ‘grapefruit’.

In [6]:
df.head(10000)

            name  diameter  weight  red  green  blue
0         orange      2.96   86.76  172     85     2
1         orange      3.91   88.05  166     78     3
2         orange      4.42   95.17  156     81     2
3         orange      4.47   95.60  163     81     4
4         orange      4.48   95.76  161     72     9
...          ...       ...     ...  ...    ...   ...
9995  grapefruit     15.35  253.89  149     77    20
9996  grapefruit     15.41  254.67  148     68     7
9997  grapefruit     15.59  256.50  168     82    20
9998  grapefruit     15.92  260.14  142     72    11
9999  grapefruit     16.45  261.51  152     74     2

[10000 rows x 6 columns]

Nah, masih ingat bukan kalau sebuah jst tidak bisa memproses string? Karena itulah kita harus mengubah nilai-nilai pada kolom label menjadi numerik terlebih dahulu agar bisa diproses oleh jst.

Jalankan kode di bawah untuk mengubah nilai-nilai pada kolom name menjadi bilangan numerik. Untuk nilai yang berisi string ‘orange’ akan diubah menjadi 0 dan nilai yang berisi string ‘grapefruit’ akan diubah menjadi 1.

In [7]:
df.name[df.name == 'orange'] = 0
df.name[df.name == 'grapefruit'] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Sampai pada tahap ini model kita belum dapat memproses dataset ini karena dataset kita masih dalam bentuk dataframe. Betul, dataset harus dalam bentuk array agar dapat diproses oleh model. Nah untungnya kita dapat melakukan ini dengan mudah menggunakan atribut values dari dataframe. Values mengembalikan numpy array yang dikonversi dari dataframe.

In [8]:
dataset = df.values

Untuk melihat dataframe yang telah diubah menjadi array, Anda dapat mengeksekusi objek dataset yang menampung array tersebut.

In [9]:
dataset

array([[0, 2.96, 86.76, 172, 85, 2],
       [0, 3.91, 88.05, 166, 78, 3],
       [0, 4.42, 95.17, 156, 81, 2],
       ...,
       [1, 15.59, 256.5, 168, 82, 20],
       [1, 15.92, 260.14, 142, 72, 11],
       [1, 16.45, 261.51, 152, 74, 2]], dtype=object)

Kemudian kita perlu memisahkan antara atribut dan label pada dataset. Dari eksplorasi data kita sebelumnya, dapat diketahui bahwa 4 kolom terakhir adalah kolom atribut. Untuk memilih 4 kolom terakhir jalankan kode di bawah.

In [10]:
# Pilih 4 kolom terakhir sebagai atribut
X = dataset[:,1:6]

# Bilangan sebelum koma untuk memilih baris pada dataframe
# Bilangan setelah koma untuk memilih kolom pada dataframe

Jangan lupa untuk memisahkan label dari dataset. Pada dataset kita, label terdapat pada kolom pertama. Jalankan kode di bawah untuk membuat sebuah array numpy yang hanya berisi label kita.

In [11]:
y = dataset[:,0]

Selanjutnya ada tahap yang sangat penting dilakukan agar jst bisa mempelajari dataset dengan baik, apalagi kalau bukan normalisasi. Kita bisa menggunakan fungsi fit_transform() dari sebuah objek MinMaxScaler dari library preprocessing SKLearn untuk menormalisasi data kita.

In [12]:
# Normalisai
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
X_scale = min_max_scaler.fit_transform(X)
X_scale

array([[0.        , 0.        , 0.74025974, 0.63529412, 0.        ],
       [0.07042254, 0.00738197, 0.66233766, 0.55294118, 0.01851852],
       [0.10822832, 0.04812589, 0.53246753, 0.58823529, 0.        ],
       ...,
       [0.93624907, 0.97133047, 0.68831169, 0.6       , 0.33333333],
       [0.96071164, 0.99216023, 0.35064935, 0.48235294, 0.16666667],
       [1.        , 1.        , 0.48051948, 0.50588235, 0.        ]])

Setelah kita memiliki atribut dan label yang terpisah, kita juga akan memisahkan kembali data kita menjadi data latih dan data uji untuk mengevaluasi kinerja model kita. Fungsi train_test_split dapat membantu kita untuk melakukan hal ini dengan mudah. Pada latihan ini kita akan menggunakan 30% dari seluruh data sebagai data uji.

In [13]:
# Pisahkan data training dan data testing
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_scale, y, test_size=0.3)

Dataset telah dipisahkan ke dalam training dan test set.  Karena tadi kita mengubah nilai-nilai pada kolom name menjadi bilangan numerik, yang artinya kita mengubah label menjadi tipe data boolean, maka kita perlu mengubah tipe data tersebut menjadi float32 dengan cara berikut.

In [14]:
import numpy as np

Y_train = Y_train.astype(np.float32)
Y_test = Y_test.astype(np.float32)

Nah, tahap memproses data kita telah selesai. Sekarang kita mulai membangun model jst kita. Impor library di bawah dan lanjutkan ke tahap berikutnya.

In [15]:
from keras.models import Sequential
from keras.layers import Dense

Untuk model yang kita kembangkan adalah model sequential yang memiliki 3 buah layer seperti di bawah. Activation function pada 2 layer pertama yang dapat digunakan adalah relu untuk latihan ini. Anda dapat bereksplorasi menggunakan activation function lain. Untuk layer terakhir, isi parameter unit isi dengan 1 di mana output dari jst kita merupakan satu buah bilangan numerik. Activation function pada layer terakhir dipilih sigmoid karena sigmoid memetakan probabilitas dari 0 sampai 1. Sigmoid sangat cocok digunakan pada masalah klasifikasi biner.

In [16]:
model = Sequential([
                    Dense(32, activation='relu', input_shape=(5,)),
                    Dense(32, activation='relu'),
                    Dense(1, activation='sigmoid'),
])

Kemudian setelah arsitektur dari jst dibentuk, kita perlu menentukan optimizer dan loss function dari model kita. Untuk optimizer kita akan menggunakan stochastic gradient descent (sgd) yang merupakan optimizer yang sangat umum dan cocok dipakai pada dataset yang berukuran kecil. Dan untuk loss yang sesuai adalah ‘binary_crossentropy’ karena masalah pada latihan kita kali ini adalah masalah 2 kelas (biner). 

Selain itu jika kita ingin menampilkan akurasi pada setiap proses pelatihan model kita dapat menambahkan parameter metrics dan mengisinya dengan string ‘accuracy’.

In [17]:
model.compile(optimizer='sgd',
              loss='binary_crossentropy',
              metrics=['accuracy'])

Ketika semua sudah selesai, kita dapat memulai pelatihan model kita dengan menjalankan kode di bawah.

In [18]:
model.fit(X_train, Y_train, epochs=100)

Epoch 1/100
219/219 [==============================] - 14s 1ms/step - loss: 0.6933 - accuracy: 0.5568
Epoch 2/100
219/219 [==============================] - 0s 1ms/step - loss: 0.6651 - accuracy: 0.7190
Epoch 3/100
219/219 [==============================] - 0s 1ms/step - loss: 0.6338 - accuracy: 0.8774
Epoch 4/100
219/219 [==============================] - 0s 1ms/step - loss: 0.5803 - accuracy: 0.9146
Epoch 5/100
219/219 [==============================] - 0s 1ms/step - loss: 0.4945 - accuracy: 0.9258
Epoch 6/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3925 - accuracy: 0.9286
Epoch 7/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3116 - accuracy: 0.9305
Epoch 8/100
219/219 [==============================] - 0s 1ms/step - loss: 0.2560 - accuracy: 0.9282
Epoch 9/100
219/219 [==============================] - 0s 1ms/step - loss: 0.2294 - accuracy: 0.9296
Epoch 10/100
219/219 [==============================] - 0s 1ms/step - loss: 0.2062 - accuracy: 0.9278
Epoch 11/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1933 - accuracy: 0.9305
Epoch 12/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1893 - accuracy: 0.9264
Epoch 13/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1832 - accuracy: 0.9292
Epoch 14/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1765 - accuracy: 0.9317
Epoch 15/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1810 - accuracy: 0.9281
Epoch 16/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1802 - accuracy: 0.9297
Epoch 17/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1688 - accuracy: 0.9342
Epoch 18/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1797 - accuracy: 0.9270
Epoch 19/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1767 - accuracy: 0.9313
Epoch 20/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1780 - accuracy: 0.9290
Epoch 21/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1770 - accuracy: 0.9289
Epoch 22/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1745 - accuracy: 0.9271
Epoch 23/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1815 - accuracy: 0.9269
Epoch 24/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1706 - accuracy: 0.9323
Epoch 25/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1682 - accuracy: 0.9324
Epoch 26/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1772 - accuracy: 0.9296
Epoch 27/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1838 - accuracy: 0.9272
Epoch 28/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1707 - accuracy: 0.9299
Epoch 29/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1759 - accuracy: 0.9248
Epoch 30/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1721 - accuracy: 0.9323
Epoch 31/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1732 - accuracy: 0.9293
Epoch 32/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1751 - accuracy: 0.9271
Epoch 33/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1836 - accuracy: 0.9270
Epoch 34/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1810 - accuracy: 0.9260
Epoch 35/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1683 - accuracy: 0.9326
Epoch 36/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1782 - accuracy: 0.9297
Epoch 37/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1828 - accuracy: 0.9264
Epoch 38/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1779 - accuracy: 0.9275
Epoch 39/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1779 - accuracy: 0.9302
Epoch 40/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1784 - accuracy: 0.9242
Epoch 41/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1738 - accuracy: 0.9320
Epoch 42/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1716 - accuracy: 0.9274
Epoch 43/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1771 - accuracy: 0.9316
Epoch 44/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1778 - accuracy: 0.9257
Epoch 45/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1656 - accuracy: 0.9322
Epoch 46/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1855 - accuracy: 0.9270
Epoch 47/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1737 - accuracy: 0.9293
Epoch 48/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1818 - accuracy: 0.9309
Epoch 49/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1622 - accuracy: 0.9354
Epoch 50/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1711 - accuracy: 0.9310
Epoch 51/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1779 - accuracy: 0.9291
Epoch 52/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1764 - accuracy: 0.9295
Epoch 53/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1817 - accuracy: 0.9262
Epoch 54/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1784 - accuracy: 0.9263
Epoch 55/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1780 - accuracy: 0.9240
Epoch 56/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1665 - accuracy: 0.9335
Epoch 57/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1817 - accuracy: 0.9252
Epoch 58/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1673 - accuracy: 0.9331
Epoch 59/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1773 - accuracy: 0.9272
Epoch 60/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1687 - accuracy: 0.9329
Epoch 61/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1734 - accuracy: 0.9296
Epoch 62/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1811 - accuracy: 0.9280
Epoch 63/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1712 - accuracy: 0.9297
Epoch 64/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1785 - accuracy: 0.9255
Epoch 65/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1773 - accuracy: 0.9271
Epoch 66/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1761 - accuracy: 0.9323
Epoch 67/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1690 - accuracy: 0.9311
Epoch 68/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1785 - accuracy: 0.9276
Epoch 69/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1750 - accuracy: 0.9283
Epoch 70/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1773 - accuracy: 0.9272
Epoch 71/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1742 - accuracy: 0.9278
Epoch 72/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1691 - accuracy: 0.9312
Epoch 73/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1795 - accuracy: 0.9266
Epoch 74/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1767 - accuracy: 0.9299
Epoch 75/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1748 - accuracy: 0.9294
Epoch 76/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1741 - accuracy: 0.9291
Epoch 77/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1766 - accuracy: 0.9291
Epoch 78/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1771 - accuracy: 0.9297
Epoch 79/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1734 - accuracy: 0.9299
Epoch 80/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1792 - accuracy: 0.9259
Epoch 81/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1695 - accuracy: 0.9346
Epoch 82/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1701 - accuracy: 0.9310
Epoch 83/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1738 - accuracy: 0.9310
Epoch 84/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1705 - accuracy: 0.9337
Epoch 85/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1702 - accuracy: 0.9324
Epoch 86/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1804 - accuracy: 0.9264
Epoch 87/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1746 - accuracy: 0.9305
Epoch 88/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1756 - accuracy: 0.9262
Epoch 89/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1782 - accuracy: 0.9279
Epoch 90/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1705 - accuracy: 0.9335
Epoch 91/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1722 - accuracy: 0.9334
Epoch 92/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1723 - accuracy: 0.9277
Epoch 93/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1802 - accuracy: 0.9271
Epoch 94/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1665 - accuracy: 0.9340
Epoch 95/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1773 - accuracy: 0.9290
Epoch 96/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1739 - accuracy: 0.9293
Epoch 97/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1734 - accuracy: 0.9295
Epoch 98/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1756 - accuracy: 0.9268
Epoch 99/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1712 - accuracy: 0.9314
Epoch 100/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1763 - accuracy: 0.9300

Terakhir, jangan lupa untuk mengevaluasi model Anda dan melihat apakah model Anda underfit atau overfit. Untuk melihat loss dan akurasi model pada data test, gunakan fungsi evaluate pada model. Fungsi Evaluate mengembalikan 2 nilai. Yang pertama adalah nilai loss, dan yang kedua adalah nilai akurasinya.

In [19]:
model.evaluate(X_test, Y_test)
# Elemen pertama adalah loss dan elemen kedua adalah akurasi

94/94 [==============================] - 1s 880us/step - loss: 0.1796 - accuracy: 0.9247

[0.17962850630283356, 0.9246666431427002]